{% for post in  posts%}
	
<style type="text/css">
	.contain{background: #fff;width:60%;margin-left: 100px;position: relative;}
	.tag ul li{margin-top: 20px;}
	.tag ul li a{color:#16a085;font-size: 30px;}
</style>
<div class="container contain">
	<div class="row">
		<div class="col-md-12">
			<article class="article the-font">
				<h2><a href="{{url_for('main.post', id=post.id)}}">{{ post.title }}</a></h2>
				<p><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span style="color:#8C8C8C;">{{ post.timestamp }}</span></small></p>
				<div class="post-alert">本博客采用创作共用版权协议, 要求署名、非商业用途和保持一致. 转载本博客文章必须也遵循署名-非商业用途-保持一致的创作共用协议</div>
				
				<p>{{ post.body | safe | truncate(100, True) }}</p>
				{# 用于限制文章首页 #}
				{% for tie in  ties%}

					{% if  tie.pos.id == post.id%}
						
					
						<div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px; float: left">
						<a href="/category/{{ tie.category.tag }}"><span class="label label-default"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> 
						{{ tie.category.tag }}</span></a>
						</div>
						{# <p>{{tie}}</p> #}
					{% endif %}
				{% endfor %}
				
			</article>
		</div>
	</div>
	<li><a href="" style="font-size: 30px;">{{categorys}}</a></li>
</div>
{% endfor %}