<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>	
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}" media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background: url(http://cdn01.baidu-img.cn/timg?image_search&quality=80&size=b10000_10000&sec=1475716480&di=9227038e2b822edc84ffa3e1464981fe&imgtype=jpg&src=http%3A%2F%2Fimg0.bdstatic.com%2Fimg%2Fimage%2Fshouye%2Fxinshouye%2FPC928.jpg)">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
   <ul class=flashes>
       {% for category, message in messages %}
       <li class="{{ category }}">{{ message }}</li>
       {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="row login-panel" style="margin-top: 90px">
    <div class="col s4">
        <form class="card-panel login-panel" method="POST">
        {{form.hidden_tag()}}
            <div class="row">
                <div class="input-field col s12">
	        {{form.username(class="validate",id="email")}}
	        <label for="email">请输入用户名</label>
	    </div>
	</div>
             <div class="row">
	    <div class="input-field col s12">
	        {{form.password(class="validate",id="password")}}
	        <label for="password">请输入密码</label>
	    </div>
	</div>
	<div class="row">
	    <div class="input-field">
	        {{form.remember_me(class="filled-in",id="filled-in-box")}}
	        <label for="filled-in-box">Keep alive</label>
	    </div>
	</div>
	<div class="row" style="margin-top: 50px">
	    <!-- {{form.submit(class="col s10 offset-s1 waves-effect waves-light btn darken-4")}} -->
      {{form.submit(class="col s10 offset-s1 btn")}}
	</div>
        </form>
    </div>
</div> 
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="{{url_for('static', filename='js/style.js')}}" type="text/javascript"></script>
</body>
</html>
