{% extends  "base.html" %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block mainbody %}
<style type="text/css">
    .cont{background: #fff;}
</style>
<div class="container cont">
    <div class="row">
        <div class="col-md-12">
	<article class="article the-font">
	    <h2>{{ post.title }}</h2>
	        <p><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>    <span style="color:#8C8C8C;">{{ post.timestamp }}</span></small>
	        </p> 
	        {% if post.body_html %}
                         <p>{{ post.body_html | safe }}</p>
                     {% else %}
                         <p>{{ post.body }}</p>
                     {% endif %}
	        {% for tie in  ties%}
	            <div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px;float:left;">
	                <a href="/category/{{ tie.category.tag }}"><span class="label label-default"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> {{ tie.category.tag }}</span></a>
		</div>
	        {% endfor %}
		<a href="{{url_for('main.index')}}" class="btn btn-xs " style="float:right">返回首页<span class=" glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
	        {% if current_user.is_authenticated %}
		<a href="/editpost/{{post.id}}" class="btn btn-xs " style="float:right">编辑<span class=" glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
		<a href="/deletepost/{{post.id}}" class="btn btn-xs " style="float:right">删除<span class=" glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
	        {% endif %}
	</article>
	<article class="article the-font">
	    <div class="ds-share flat" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-images="http://7xlen8.com1.z0.glb.clouddn.com/avatar.jpg" data-url="/post/{{ post.id }}">
	    </div>
	</article>
        </div>
    </div>
</div>
 {% endblock mainbody %}
