{% extends  "base.html" %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block mainbody %}
<style type="text/css">
.cont{background: #fff;}
.cont-po{padding: 20px;box-shadow:rgb(167, 163, 163) 5px 5px 20px;margin-bottom: 20px;}
.comm{padding: 20px;box-shadow: rgb(167, 163, 163) 5px 5px 20px;}
</style>
<div class="container cont" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-12">
            <article class="article the-font cont-po">
	    <h2>{{ post.title }}</h2>
	    <p><small><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span style="color:#8C8C8C;">{{ post.timestamp }}</span></small></p>
	    {% if post.body_html %}
                     <p>{{ post.body_html | safe }}</p>
                 {% else %}
                     <p>{{ post.body }}</p>
                 {% endif %}
	     <ul class="tag">
	     {% for tie in  ties%}
	         <span style="padding-left: 10px;"><a href="/category/{{ tie.category.tag }}"><span class="label label-default"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> {{ tie.category.tag }}</span></a> </span>
	     {% endfor %}
	     <span style="padding-left: 10px;float: right;"><a href="{{url_for('main.index')}}">返回首页</a></span>
	     {% if current_user.is_authenticated %}
	         <span style="padding-left: 10px;float: right;"><a href="/editpost/{{post.id}}">编辑</a></span>
	         <span style="padding-left: 10px;float: right;"><a href="/deletepost/{{post.id}}" >删除</a></span>
	     {% endif %}
	     </ul>
            </article>
            <article class="article the-font comm">
            <!-- 多说分享 -->
                <div class="ds-share flat" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-images="http://7xlen8.com1.z0.glb.clouddn.com/avatar.jpg" data-url="/post/{{ post.id }}"></div>
                <div class="ds-share" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-images="http://7xlen8.com1.z0.glb.clouddn.com/avatar.jpg" data-content="{{ post.body }}" data-url="/post/{{ post.id }}">
                    <div class="ds-share-aside-left">
                        <div class="ds-share-aside-inner"></div>
                        <div class="ds-share-aside-toggle">分享到</div>
                    </div>
                </div>
                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-url="/post/{{ post.id }}"></div>
                <!-- 多说评论框 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                var duoshuoQuery = {short_name:"smy999"};
                (function() {
                	var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	   })();
	   </script>
                <!-- 多说公共JS代码 end -->
            </article>
        </div>
    </div>
</div>
{% endblock mainbody %}
